.mainarea{
   
    
}
.maintitle{
   
    text-align: center;
}

.subitem{
    height: 30px;
    border-radius:5px;
    width:150px;
}
.select{
    height: 35px;
    width:150px;
}
.col-6{
    font-size:20px;
}
#map{
	width:
}