* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-height {
  height: 500px;
}

.row-width {
  width: 100%;
}

body {
  background-image: url(../image/background2.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-bottom {
  margin-top: 1em;
  padding-top: 10px;
  padding-bottom: 5px;
}

.footer-bottom p.pull-left {
  padding-top: 6px;
  font-size: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-cart{
    width: 750px;
    height: auto;
    margin: 80px auto;
    background: rgba(0,0,0,0.1);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    
}
.title {
  height: 120px;
  width: 750px;
  text-align:center;
  /* background: #ffffff; */
  margin: 0px auto;
  font-size: 30px;s
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
.item {
  padding: 20px 30px;
  height: 120px;
  width: 750px;
  display: flex;
  /* background: #ffffff; */
  margin: 0px auto;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
.sel {
  height: 120px;
  width: 750px;
  /* background: #ffffff; */
  margin: 0px auto;
  text-align:right;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
.sell{
  float:right;
}
.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}
/* delete button */
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  /* background: url("/image/delete-svg-icon.png") no-repeat center; */
  margin-right: 20px;
}
.like-btn {
  position: absolute;
  top: 30px;
  left: 40px;
  display: inline-block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.is-active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}
/* product image */
.image {
  margin-right: 50px;
}
/* product description */
.description {
  /* padding-top: 10px; */
  margin-top: 20px;
  width: 200px;
  color: #ffffff;
}
.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}
.description span:first-child {
  margin-bottom: auto;
  color: #ffffff;
}
.description span:last-child {
  font-weight: 300;
  margin-top: auto;
  color: #ffffff;
}
/* product-quantity */
.quantity {
  width: 140px;
  padding-top: 20px;
  margin: 5px 12px 1px 120px;
}
.quantity input {
  /* -webkit-appearance: none; */
  border: none;
  text-align: center;
  width: 20px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}
button[class*="btn"] {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.puls-btn img {
  margin-top: 2px;
}
button:focus,
input:focus {
  outline: 0;
}
/* total price */
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
}
/* RWD */
@media (max-width: 768px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
