*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-height {
	height: 500px;
}

.row-width {
	width: 100%;
}

body {
	background-image: url(../image/Desktop.png);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.footer-bottom {
	margin-top: 1em;
	padding-top: 10px;
	padding-bottom: 5px;
}

.footer-bottom p.pull-left {
	padding-top: 6px;
	font-size: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .shopping-cart{
    width: 750px;
    height: auto;
    margin: 80px auto;
    background: #ffffff;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
} */
.title{
    height: 120px;
    width: 750px;
    display: flex;
    background: #ffffff;
    margin:0px auto;
    font-size: 30px;
}
.item{
    padding: 20px 30px;
    height: 120px;
    width: 750px;
    display: flex;
    background: #ffffff;
    margin:0px auto;
}
.sel{
    height: 120px;
    width: 750px;
    display: flex;
    background: #ffffff;
    margin:0px auto;
}
.item:nth-child(3){
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}
/* delete button */
.buttons{
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}
.delete-btn{
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 17px;
    /* background: url("/image/delete-svg-icon.png") no-repeat center; */
    margin-right: 20px;
}
.like-btn{
    position: absolute;
    top: 30px;
    left: 40px;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.is-active{
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}
@keyframes animate{
    0%{background-position: left;}
    50%{background-position: right;}
    100%{background-position: right;}
}
/* product image */
.image{
    margin-right: 50px;
}
/* product description */
.description{
    /* padding-top: 10px; */
    margin-top: 20px;
    width: 180px;
}
.description span{
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}
.description span:first-child{
    margin-bottom: auto;
}
.description span:last-child{
    font-weight: 300;
    margin-top: auto;
    color: #86939E;
}
/* product-quantity */
.quantity{
    padding-top: 20px;
    margin:5px 10px 1px 140px;
}
.quantity input{
    /* -webkit-appearance: none; */
    border:none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
button[class*=btn]{
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.minus-btn img{
    margin-bottom: 3px;
}
.puls-btn img{
    margin-top: 2px;
}
button:focus,
input:focus{
    outline: 0;
}
/* total price */
.total-price{
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
/* RWD */
@media (max-width:768px){
    .shopping-cart{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .item{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image img{
        width: 50%;
    }
    .image,
    .quantity,
    .description{
        width: 100%;
        text-align: center;
        margin:6px 0;
    }
    .buttons{
        margin-right: 20px;
    }
}