.container {
  border: 2px solid white;
  color: white;
}
.col-12 {
  /*     border:1px solid pink; */
  font-size: 35px;
}
.author {
  
  border-top: 2px solid white;
  border-right: 2px solid white;
}
.col-10 {
  
  border-top: 2px solid white;
}
.photo {
  width: 140px;
  height: 140px;
  
}
.picture {
  max-width:300px;
  max-height:300px;
  overflow:hidden;
  
  
  
}

.commentPic{
	max-width:300px;
  max-height:300px;
}
.article-information {
  list-style: none;
  display: flex;
  padding-left: 0px;
  font-size: 19px;
}

.author {
  font-size: 1.1rem;

  /*     border:2px solid white; */
}
.account {
  font-size: 0.8rem;

  /*     border:1px solid olive; */
}
.gp {
  width: 50px;

  color: orangered;
  /*     border:1px solid palevioletred */
}
.bp {
  width: 50px;

  /*     border:1px solid salmon; */
}
.article-content {
  
  font-size: 23px;
}
.article-mood {
  
  font-size: 16px;
}
.response {
  padding-right: 0px;
}
.like-or-hate {
  list-style: none;
  display:inline;
}

.fas {
  width: 80px;

}
textarea {
  max-width: 100%;
}
.errormsg {
  color: red;
}
.page {
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.update{
	
}
.space{
	height:50px;
}




